<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>763559189009-tfe5lcg35cfv3lvm6cfui1apqrel207v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763559189009-tfe5lcg35cfv3lvm6cfui1apqrel207v</string>
	<key>API_KEY</key>
	<string>AIzaSyA5bx1OkoLZ-cq4bmvW0W0Zc3HG1E3Nd9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>763559189009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.watts-ondevelopment.Pack-and-Herd</string>
	<key>PROJECT_ID</key>
	<string>pack-and-herd</string>
	<key>STORAGE_BUCKET</key>
	<string>pack-and-herd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763559189009:ios:7331ce02cec96ae2</string>
	<key>DATABASE_URL</key>
	<string>https://pack-and-herd.firebaseio.com</string>
</dict>
</plist>